# SALMAN HAFEEZ

In [1]:
# Research question/interests
# I want to analyze the dataset to see (for all provinces and territories) 
# how did the cause-of-fire vary from 1990-2020 and if there is a trend or even a dominant (lighting vs human activity) cause-of-fire for each province over this time period?

import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns

area_burned_by_cause = pd.read_csv("../data/raw/NFD-Area_burned_by_cause_class-ENFR.csv", encoding="latin")

area_burned_by_fire_size = pd.read_csv("../data/raw/NFD-Area_burned_by_fire_size_class-ENFR.csv", encoding="latin")

area_burned_by_month = pd.read_csv("../data/raw/NFD-Area_burned_by_month-ENFR.csv", encoding="latin")

number_of_fires_by_cause = pd.read_csv("../data/raw/NFD-Number_of_fires_by_cause_class-ENFR.csv", encoding="latin")

number_of_fires_by_fire_size = pd.read_csv("../data/raw/NFD-Number_of_fires_by_fire_size_class-ENFR.csv", encoding="latin")

number_of_fires_by_month = pd.read_csv("../data/raw/NFD-Number_of_fires_by_month-ENFR.csv", encoding="latin")
                                       
# property_loss = pd.read_csv("../data/raw/NFD-Property_losses_from_fires-ENFR.csv",encoding="latin")

In [2]:
# MILESTONE 3
## Task 1 Exploratory Data Analysis (EDA)
## Displaying number of row and columns, and general description for each dataset

In [3]:


print(f"Number of rows and columns for area_burned_by_cause:  {area_burned_by_cause.shape}")
print(f"Columns in the dataset: {area_burned_by_cause.columns}")
print(area_burned_by_cause.describe().T)
area_burned_by_cause.describe(include='object').T

Number of rows and columns for area_burned_by_cause:  (939, 11)
Columns in the dataset: Index(['ï»¿Year', 'AnnÃe', 'ISO', 'Jurisdiction', 'Juridiction', 'Cause',
       'Origine', 'Area (hectares)', 'Data Qualifier',
       'Superficie (en hectare)', 'Qualificatifs de donnÃes'],
      dtype='object')
                         count          mean            std     min      25%  \
ï»¿Year                  939.0   2005.066028       8.819676  1990.0  1997.50
AnnÃe                   939.0   2005.066028       8.819676  1990.0  1997.50
Area (hectares)          939.0  79390.815864  261596.855417     0.0    74.25
Superficie (en hectare)  939.0  79390.815864  261596.855417     0.0    74.25

                            50%           75%         max
ï»¿Year                  2005.0   2013.000000     2020.00
AnnÃe                   2005.0   2013.000000     2020.00
Area (hectares)          2773.5  35924.193075  3407674.14
Superficie (en hectare)  2773.5  35924.193075  3407674.14

                          count unique                  top freq
ISO                         939     13                   AB  109
Jurisdiction                939     13              Alberta  109
Juridiction                 939     13              Alberta  109
Cause                       939      4       Human activity  383
Origine                     939      4  ActivitÃs humaines  383
Data Qualifier              939      2                    a  926
Qualificatifs de donnÃes   939      2                    a  926

In [4]:
print(f"Number of rows and columns for number_of_fires_by_cause:  {number_of_fires_by_cause.shape}")
print(f"Columns in the dataset: {number_of_fires_by_cause.columns}")
print(number_of_fires_by_cause.describe().T)
number_of_fires_by_cause.describe(include='object').T

Number of rows and columns for number_of_fires_by_cause:  (939, 11)
Columns in the dataset: Index(['ï»¿Year', 'AnnÃe', 'ISO', 'Jurisdiction', 'Juridiction', 'Cause',
       'Origine', 'Number', 'Data Qualifier', 'Nombre',
       'Qualificatifs de donnÃes'],
      dtype='object')
         count         mean         std     min     25%     50%     75%  \
ï»¿Year  939.0  2005.066028    8.819676  1990.0  1997.5  2005.0  2013.0
AnnÃe   939.0  2005.066028    8.819676  1990.0  1997.5  2005.0  2013.0
Number   939.0   235.576145  331.276869     1.0    21.0    89.0   329.5
Nombre   939.0   235.576145  331.276869     1.0    21.0    89.0   329.5

            max
ï»¿Year  2020.0
AnnÃe   2020.0
Number   2888.0
Nombre   2888.0

                          count unique                  top freq
ISO                         939     13                   AB  109
Jurisdiction                939     13              Alberta  109
Juridiction                 939     13              Alberta  109
Cause                       939      4       Human activity  383
Origine                     939      4  ActivitÃs humaines  383
Data Qualifier              939      2                    a  926
Qualificatifs de donnÃes   939      2                    a  926

In [5]:
print(f"Number of rows and columns for area_burned_by_fire_size:  {area_burned_by_fire_size.shape}")
print(f"Columns in the dataset: {area_burned_by_fire_size.columns}")
print(area_burned_by_fire_size.describe().T)
area_burned_by_fire_size.describe(include='object').T

Number of rows and columns for area_burned_by_fire_size:  (2269, 11)
Columns in the dataset: Index(['ï»¿Year', 'AnnÃe', 'ISO', 'Jurisdiction', 'Juridiction',
       'Fire size class', 'Classe de superficie â¡ l'extinction ',
       'Area (hectares)', 'Data Qualifier', 'Superficie (en hectare)',
       'Qualificatifs de donnÃes'],
      dtype='object')
                          count          mean            std     min      25%  \
ï»¿Year                  2269.0   2004.655796       8.760284  1990.0  1997.00
AnnÃe                   2269.0   2004.655796       8.760284  1990.0  1997.00
Area (hectares)          2269.0  32854.991669  126299.383951     0.0    53.99
Superficie (en hectare)  2269.0  32854.991669  126299.383951     0.0    53.99

                            50%     75%        max
ï»¿Year                  2005.0  2012.0     2020.0
AnnÃe                   2005.0  2012.0     2020.0
Area (hectares)           466.1  9897.2  2447100.0
Superficie (en hectare)   466.1  9897.2  2447100.0

                                       count unique           top  freq
ISO                                     2269     13            SK   218
Jurisdiction                            2269     13  Saskatchewan   218
Juridiction                             2269     13  Saskatchewan   218
Fire size class                         2269      9   1.1 - 10 ha   361
Classe de superficie â¡ l'extinction   2269      9   1,1 - 10 ha   361
Data Qualifier                          2269      2             a  2256
Qualificatifs de donnÃes               2269      2             a  2256

In [6]:
print(f"Number of rows and columns for number_of_fires_by_fire_size:  {number_of_fires_by_fire_size.shape}")
print(f"Columns in the dataset: {number_of_fires_by_fire_size.columns}")
print(number_of_fires_by_fire_size.describe().T)
number_of_fires_by_fire_size.describe(include='object').T

Number of rows and columns for number_of_fires_by_fire_size:  (2269, 11)
Columns in the dataset: Index(['ï»¿Year', 'AnnÃe', 'ISO', 'Jurisdiction', 'Juridiction',
       'Fire size class', 'Classe de superficie â¡ l'extinction ', 'Number',
       'Data Qualifier', 'Nombre', 'Qualificatifs de donnÃes'],
      dtype='object')
          count         mean         std     min     25%     50%     75%  \
ï»¿Year  2269.0  2004.655796    8.760284  1990.0  1997.0  2005.0  2012.0
AnnÃe   2269.0  2004.655796    8.760284  1990.0  1997.0  2005.0  2012.0
Number   2269.0    97.490524  222.307885     1.0     8.0    27.0    86.0
Nombre   2269.0    97.490524  222.307885     1.0     8.0    27.0    86.0

            max
ï»¿Year  2020.0
AnnÃe   2020.0
Number   2908.0
Nombre   2908.0

                                       count unique           top  freq
ISO                                     2269     13            SK   218
Jurisdiction                            2269     13  Saskatchewan   218
Juridiction                             2269     13  Saskatchewan   218
Fire size class                         2269      9   1.1 - 10 ha   361
Classe de superficie â¡ l'extinction   2269      9   1,1 - 10 ha   361
Data Qualifier                          2269      2             a  2256
Qualificatifs de donnÃes               2269      2             a  2256

In [7]:
print(f"Number of rows and columns for area_burned_by_month:  {area_burned_by_month.shape}")
print(f"Columns in the dataset: {area_burned_by_month.columns}")
print(area_burned_by_month.describe().T)
area_burned_by_month.describe(include='object').T

Number of rows and columns for area_burned_by_month:  (2919, 11)
Columns in the dataset: Index(['ï»¿Year', 'AnnÃe', 'ISO', 'Jurisdiction', 'Juridiction', 'Month',
       'Mois', 'Area (hectares)', 'Data Qualifier', 'Superficie (en hectare)',
       'Qualificatifs de donnÃes'],
      dtype='object')
                          count          mean            std     min      25%  \
ï»¿Year                  2919.0   2004.539911       8.664351  1990.0  1997.00
AnnÃe                   2919.0   2004.539911       8.664351  1990.0  1997.00
Area (hectares)          2919.0  25538.874990  122363.430375     0.0     4.93
Superficie (en hectare)  2919.0  25538.874990  122363.430375     0.0     4.93

                             50%       75%         max
ï»¿Year                  2005.00  2012.000     2020.00
AnnÃe                   2005.00  2012.000     2020.00
Area (hectares)           106.94  2686.622  2491437.67
Superficie (en hectare)   106.94  2686.622  2491437.67

                          count unique      top  freq
ISO                        2919     13       AB   349
Jurisdiction               2919     13  Alberta   349
Juridiction                2919     13  Alberta   349
Month                      2919     13     June   353
Mois                       2919     13     Juin   353
Data Qualifier             2919      2        a  2906
Qualificatifs de donnÃes  2919      2        a  2906

In [8]:
print(f"Number of rows and columns for number_of_fires_by_month:  {number_of_fires_by_month.shape}")
print(f"Columns in the dataset: {number_of_fires_by_month.columns}")
print(number_of_fires_by_month.describe().T)
number_of_fires_by_month.describe(include='object').T

Number of rows and columns for number_of_fires_by_month:  (2919, 11)
Columns in the dataset: Index(['ï»¿Year', 'AnnÃe', 'ISO', 'Jurisdiction', 'Juridiction', 'Month',
       'Mois', 'Number', 'Data Qualifier', 'Nombre',
       'Qualificatifs de donnÃes'],
      dtype='object')
          count         mean         std     min     25%     50%     75%  \
ï»¿Year  2919.0  2004.539911    8.664351  1990.0  1997.0  2005.0  2012.0
AnnÃe   2919.0  2004.539911    8.664351  1990.0  1997.0  2005.0  2012.0
Number   2919.0    75.781432  137.302075     1.0     6.0    26.0    88.0
Nombre   2919.0    75.781432  137.302075     1.0     6.0    26.0    88.0

            max
ï»¿Year  2020.0
AnnÃe   2020.0
Number   2118.0
Nombre   2118.0

                          count unique      top  freq
ISO                        2919     13       AB   349
Jurisdiction               2919     13  Alberta   349
Juridiction                2919     13  Alberta   349
Month                      2919     13     June   353
Mois                       2919     13     Juin   353
Data Qualifier             2919      2        a  2906
Qualificatifs de donnÃes  2919      2        a  2906

In [9]:
## Task 2 & 3: ##
## Load in File and process to obtain clean datasets

In [10]:
import project_functions2 as p2

In [11]:
file1 ='../data/raw/NFD-Area_burned_by_cause_class-ENFR.csv'
Area_by_cause = p2.raw(file1)

file2 ='../data/raw/NFD-Number_of_fires_by_cause_class-ENFR.csv'
Number_by_cause = p2.raw(file2)

combined = p2.intial_process(Area_by_cause,Number_by_cause)

#combined = combined.drop("Origine")

combined = p2.drop_origine(combined)

#combined
combined.to_csv("../data/processed/Fires_by_cause.csv",index=None)

In [12]:
file3 = '../data/raw/NFD-Area_burned_by_fire_size_class-ENFR.csv'
Area_by_firesize = p2.raw(file3)

file4 = "../data/raw/NFD-Number_of_fires_by_fire_size_class-ENFR.csv"
Number_by_firesize = p2.raw(file4)

combined2 = p2.intial_process(Area_by_firesize,Number_by_firesize)

# Area_by_firesize = Area_by_firesize[Area_by_firesize["Fire size class"]!="Unspecified"].drop(["AnnÈe","Juridiction","Classe de superficie ‡ l\'extinction ","Data Qualifier","Superficie (en hectare)","Qualificatifs de donnÈes"],axis='columns')

combined2 = p2.drop_french_firesize(combined2)

combined2.to_csv("../data/processed/Fires_by_size_class.csv",index=None)

In [13]:
file5 = "../data/raw/NFD-Area_burned_by_month-ENFR.csv"
Area_by_month = p2.raw(file5)

file6 = "../data/raw/NFD-Number_of_fires_by_month-ENFR.csv"
Number_by_month = p2.raw(file6)

combined3 =  p2.intial_process(Area_by_month,Number_by_month)

combined3 = p2.drop_mois(combined3)

combined3.to_csv("../data/processed/Fires_by_month.csv",index=None)