# Stu McGorman

## Research question/interests
I'm interested in seeing if there is any trend in the number a fires per year in a given province. (More fires one year = less fires the next year?) I also still want to possibly add in some additional data. Maybe compare the number of fires per year with the rate of global warming? or checking if higher average temperature for a year correlates with more fires. I also want to look at how the cause of fire relates to area burned or property losses (do human stated fires cause more or less damage?).

In [54]:
# Imports
import os
from os import listdir
import numpy as np
import pandas as pd

## Loading Data

In [123]:
# Load data. Im making a dictionary of dataframes for each of our data files. 
dataDict = {}
for f in listdir("../data/raw"):
    if(f.endswith(".csv")):
        dataDict[f] = pd.read_csv("../data/raw/" + f)
        
#https://bmcnoldy.rsmas.miami.edu/tropics/oni/ONI_NINO34_1854-2021.txt
ONIData = pd.read_csv("../data/raw/ONI_Data.txt",sep='\s+',header=8)

## Cleaning Data

In [124]:
def removeColumnsByIndex(table, columns):
    return table.drop(columns = table.columns[columns])

for table in dataDict:
    dataDict[table] = removeColumnsByIndex(dataDict[table], [1,2,4,6,8,9,10])
    
for table in dataDict:
    display(dataDict[table])

ONIData = removeColumnsByIndex(ONIData, [2,3,4]).rename(columns = {"YEAR" : "Year", "MON/MMM" : "Month", })
ONIData["Month"] = ONIData["Month"].map({
    1 : "January",
    2 : "February",
    3 : "March",
    4 : "April",
    5 : "May",
    6 : "June",
    7 : "July",
    8 : "August",
    9 : "September",
    10 : "October",
    11 : "November",
    12 : "December",
})

      Year               Jurisdiction        Month  Area (hectares)
0     1990                    Alberta      January              0.1
1     1990                    Alberta      October            182.4
2     1990                    Alberta     November             42.5
3     1990                    Alberta     December              0.4
4     1990                    Alberta     February              3.3
...    ...                        ...          ...              ...
2914  2020  Newfoundland and Labrador  Unspecified           4178.0
2915  2020              New Brunswick  Unspecified           1388.0
2916  2020                Nova Scotia  Unspecified            709.0
2917  2020       Prince Edward Island  Unspecified             13.0
2918  2020               Parks Canada  Unspecified           1664.0

[2919 rows x 4 columns]

      Year               Jurisdiction      Fire size class  Area (hectares)
0     1990                    Alberta        0.11 - 1.0 ha            153.9
1     1990                    Alberta          1.1 - 10 ha            448.8
2     1990                    Alberta  10 000 - 100 000 ha          11809.5
3     1990                    Alberta        10.1 - 100 ha           1640.4
4     1990                    Alberta     100.1 - 1 000 ha           7579.1
...    ...                        ...                  ...              ...
2264  2020  Newfoundland and Labrador          Unspecified           4178.0
2265  2020              New Brunswick          Unspecified           1388.0
2266  2020                Nova Scotia          Unspecified            709.0
2267  2020       Prince Edward Island          Unspecified             13.0
2268  2020               Parks Canada          Unspecified           1664.0

[2269 rows x 4 columns]

      Year  Jurisdiction Protection zone  Dollars (En)
0     2001   Nova Scotia       Intensive      250550.0
1     2002   Nova Scotia       Intensive      287000.0
2     2003   Nova Scotia       Intensive      203000.0
3     2004   Nova Scotia       Intensive      120000.0
4     2005   Nova Scotia       Intensive       70000.0
...    ...           ...             ...           ...
1299  1989        Quebec       Intensive      185766.0
1300  1989  Saskatchewan         Limited           NaN
1301  1989  Saskatchewan       Intensive           0.0
1302  1989         Yukon         Limited           NaN
1303  1989         Yukon       Intensive           0.0

[1304 rows x 4 columns]

      Year               Jurisdiction        Month  Number
0     1990                    Alberta      January       1
1     1990                    Alberta      October      34
2     1990                    Alberta     November      16
3     1990                    Alberta     December       4
4     1990                    Alberta     February       5
...    ...                        ...          ...     ...
2914  2020  Newfoundland and Labrador  Unspecified      94
2915  2020              New Brunswick  Unspecified     462
2916  2020                Nova Scotia  Unspecified     176
2917  2020       Prince Edward Island  Unspecified      15
2918  2020               Parks Canada  Unspecified      93

[2919 rows x 4 columns]

      Year               Jurisdiction      Fire size class  Number
0     1990                    Alberta        0.11 - 1.0 ha     347
1     1990                    Alberta          1.1 - 10 ha     145
2     1990                    Alberta  10 000 - 100 000 ha       1
3     1990                    Alberta        10.1 - 100 ha      49
4     1990                    Alberta     100.1 - 1 000 ha      21
...    ...                        ...                  ...     ...
2264  2020  Newfoundland and Labrador          Unspecified      94
2265  2020              New Brunswick          Unspecified     462
2266  2020                Nova Scotia          Unspecified     176
2267  2020       Prince Edward Island          Unspecified      15
2268  2020               Parks Canada          Unspecified      93

[2269 rows x 4 columns]

     Year               Jurisdiction           Cause  Number
0    1990                    Alberta  Human activity     372
1    1990                    Alberta       Lightning     914
2    1990                    Alberta     Unspecified      15
3    1991                    Alberta  Human activity     431
4    1991                    Alberta       Lightning     466
..    ...                        ...             ...     ...
934  2020  Newfoundland and Labrador     Unspecified      94
935  2020              New Brunswick     Unspecified     462
936  2020                Nova Scotia     Unspecified     176
937  2020       Prince Edward Island     Unspecified      15
938  2020               Parks Canada     Unspecified      93

[939 rows x 4 columns]

     Year               Jurisdiction           Cause  Area (hectares)
0    1990                    Alberta  Human activity           2385.4
1    1990                    Alberta       Lightning          30890.7
2    1990                    Alberta     Unspecified            808.8
3    1991                    Alberta  Human activity           2260.5
4    1991                    Alberta       Lightning           3769.3
..    ...                        ...             ...              ...
934  2020  Newfoundland and Labrador     Unspecified           4178.0
935  2020              New Brunswick     Unspecified           1388.0
936  2020                Nova Scotia     Unspecified            709.0
937  2020       Prince Edward Island     Unspecified             13.0
938  2020               Parks Canada     Unspecified           1664.0

[939 rows x 4 columns]

In [148]:
dataByMonth = pd.merge(
    dataDict["NFD-Area_burned_by_month-ENFR.csv"], 
    dataDict["NFD-Number_of_fires_by_month-ENFR.csv"]
)
dataByMonth = pd.merge(
    dataByMonth,
    ONIData,
    how = "left",
    on = ["Year", "Month"]
)

dataByCause = pd.merge(
    dataDict["NFD-Area_burned_by_cause_class-ENFR.csv"],
    dataDict["NFD-Number_of_fires_by_cause_class-ENFR.csv"]
)

dataBySize = pd.merge(
    dataDict["NFD-Area_burned_by_fire_size_class-ENFR.csv"],
    dataDict["NFD-Number_of_fires_by_fire_size_class-ENFR.csv"]
)
display(dataByMonth)
display(dataByCause)
display(dataBySize)

,Year,Jurisdiction,Month,Area (hectares),Number,ONI,PHASE
0,1990,Alberta,January,0.1,1,0.14,N
1,1990,Alberta,October,182.4,34,0.35,N
2,1990,Alberta,November,42.5,16,0.40,N
3,1990,Alberta,December,0.4,4,0.41,N
4,1990,Alberta,February,3.3,5,0.21,N
...,...,...,...,...,...,...,...
2914,2020,Newfoundland and Labrador,Unspecified,4178.0,94,NaN,NaN
2915,2020,New Brunswick,Unspecified,1388.0,462,NaN,NaN
2916,2020,Nova Scotia,Unspecified,709.0,176,NaN,NaN
2917,2020,Prince Edward Island,Unspecified,13.0,15,NaN,NaN
2918,2020,Parks Canada,Unspecified,1664.0,93,NaN,NaN

      Year               Jurisdiction           Cause  Area (hectares)  Number
0     1990                    Alberta  Human activity           2385.4     372
1     1990                    Alberta       Lightning          30890.7     914
2     1990                    Alberta     Unspecified            808.8      15
3     1991                    Alberta  Human activity           2260.5     431
4     1991                    Alberta       Lightning           3769.3     466
...    ...                        ...             ...              ...     ...
1014  2020  Newfoundland and Labrador     Unspecified           4178.0      94
1015  2020              New Brunswick     Unspecified           1388.0     462
1016  2020                Nova Scotia     Unspecified            709.0     176
1017  2020       Prince Edward Island     Unspecified             13.0      15
1018  2020               Parks Canada     Unspecified           1664.0      93

[1019 rows x 5 columns]

,Year,Jurisdiction,Fire size class,Area (hectares),Number
0,1990,Alberta,0.11 - 1.0 ha,153.9,347
1,1990,Alberta,1.1 - 10 ha,448.8,145
2,1990,Alberta,10 000 - 100 000 ha,11809.5,1
3,1990,Alberta,10.1 - 100 ha,1640.4,49
4,1990,Alberta,100.1 - 1 000 ha,7579.1,21
...,...,...,...,...,...
2264,2020,Newfoundland and Labrador,Unspecified,4178.0,94
2265,2020,New Brunswick,Unspecified,1388.0,462
2266,2020,Nova Scotia,Unspecified,709.0,176
2267,2020,Prince Edward Island,Unspecified,13.0,15
2268,2020,Parks Canada,Unspecified,1664.0,93