In [34]:
import project_functions1
import pandas as pd
import numpy as np

In [17]:
fireData = project_functions1.loadAndProcessFireData("../../data/raw")
ONIData = project_functions1.loadAndProcessONIData("../../data/raw/ONI_Data.txt")
dataByMonth = project_functions1.createDataByMonth(fireData, ONIData)

pd.set_option('display.min_rows', 30)
pd.set_option('display.max_rows', 100)
display(dataByMonth)

dataByMonth

,Year,Jurisdiction,Month,Area (hectares),Number,ONI,Phase,DateTime
0,1990,Alberta,January,0.10,1,0.14,N,1990-01-01
4,1990,Alberta,February,3.30,5,0.21,N,1990-02-01
5,1990,Alberta,March,6.60,8,0.28,N,1990-03-01
6,1990,Alberta,April,25.10,26,0.29,N,1990-04-01
7,1990,Alberta,May,624.20,110,0.29,N,1990-05-01
8,1990,Alberta,June,1704.30,196,0.31,N,1990-06-01
9,1990,Alberta,July,14934.40,422,0.33,N,1990-07-01
10,1990,Alberta,August,14245.80,362,0.38,N,1990-08-01
11,1990,Alberta,September,2315.80,117,0.39,N,1990-09-01
1,1990,Alberta,October,182.40,34,0.35,N,1990-10-01
2,1990,Alberta,November,42.50,16,0.40,N,1990-11-01
3,1990,Alberta,December,0.40,4,0.41,N,1990-12-01
2669,1990,British Columbia,January,0.00,0,0.14,N,1990-01-01
350,1990,British Columbia,February,0.70,3,0.21,N,1990-02-01
351,1990,British Columbia,March,123.00,35,0.28,N,1990-03-01
...,...,...,...,...,...,...,...,...
2484,2019,Saskatchewan,October,0.30,3,0.35,N,2019-10-01
2485,2019,Saskatchewan,November,0.10,2,0.51,E,2019-11-01
2486,2019,Saskatchewan,December,0.10,5,0.55,E,2019-12-01
4349,2019,Yukon,January,0.00,0,0.75,E,2019-01-01
4350,2019,Yukon,February,0.00,0,0.72,E,2019-02-01
4351,2019,Yukon,March,0.00,0,0.72,E,2019-03-01
2663,2019,Yukon,April,0.13,4,0.66,E,2019-04-01
2664,2019,Yukon,May,135237.21,25,0.54,E,2019-05-01
2665,2019,Yukon,June,64179.90,18,0.45,N,2019-06-01
2666,2019,Yukon,July,56460.07,63,0.28,N,2019-07-01
2667,2019,Yukon,August,34.00,4,0.15,N,2019-08-01
2668,2019,Yukon,September,125.31,3,0.19,N,2019-09-01
4352,2019,Yukon,October,0.00,0,0.35,N,2019-10-01
4353,2019,Yukon,November,0.00,0,0.51,E,2019-11-01
4354,2019,Yukon,December,0.00,0,0.55,E,2019-12-01

,Year,Jurisdiction,Month,Area (hectares),Number,ONI,Phase,DateTime
0,1990,Alberta,January,0.10,1,0.14,N,1990-01-01
4,1990,Alberta,February,3.30,5,0.21,N,1990-02-01
5,1990,Alberta,March,6.60,8,0.28,N,1990-03-01
6,1990,Alberta,April,25.10,26,0.29,N,1990-04-01
7,1990,Alberta,May,624.20,110,0.29,N,1990-05-01
8,1990,Alberta,June,1704.30,196,0.31,N,1990-06-01
9,1990,Alberta,July,14934.40,422,0.33,N,1990-07-01
10,1990,Alberta,August,14245.80,362,0.38,N,1990-08-01
11,1990,Alberta,September,2315.80,117,0.39,N,1990-09-01
1,1990,Alberta,October,182.40,34,0.35,N,1990-10-01
2,1990,Alberta,November,42.50,16,0.40,N,1990-11-01
3,1990,Alberta,December,0.40,4,0.41,N,1990-12-01
2669,1990,British Columbia,January,0.00,0,0.14,N,1990-01-01
350,1990,British Columbia,February,0.70,3,0.21,N,1990-02-01
351,1990,British Columbia,March,123.00,35,0.28,N,1990-03-01
...,...,...,...,...,...,...,...,...
2484,2019,Saskatchewan,October,0.30,3,0.35,N,2019-10-01
2485,2019,Saskatchewan,November,0.10,2,0.51,E,2019-11-01
2486,2019,Saskatchewan,December,0.10,5,0.55,E,2019-12-01
4349,2019,Yukon,January,0.00,0,0.75,E,2019-01-01
4350,2019,Yukon,February,0.00,0,0.72,E,2019-02-01
4351,2019,Yukon,March,0.00,0,0.72,E,2019-03-01
2663,2019,Yukon,April,0.13,4,0.66,E,2019-04-01
2664,2019,Yukon,May,135237.21,25,0.54,E,2019-05-01
2665,2019,Yukon,June,64179.90,18,0.45,N,2019-06-01
2666,2019,Yukon,July,56460.07,63,0.28,N,2019-07-01
2667,2019,Yukon,August,34.00,4,0.15,N,2019-08-01
2668,2019,Yukon,September,125.31,3,0.19,N,2019-09-01
4352,2019,Yukon,October,0.00,0,0.35,N,2019-10-01
4353,2019,Yukon,November,0.00,0,0.51,E,2019-11-01
4354,2019,Yukon,December,0.00,0,0.55,E,2019-12-01

In [42]:
dataByMonth = dataByMonth.loc[lambda x : (x['Month'] == 'May') | (x['Month'] == 'June') | (x['Month'] == 'July') | (x['Month'] == 'August')]

def anomalyIndex(x1, x2):
    return np.log(x1 / x2)

means = pd.DataFrame(columns = {"Month", "Jurisdiction", "MeanNum", "MeanArea"})
for month in dataByMonth["Month"].unique()[:]:
    for province in dataByMonth["Jurisdiction"].unique():
        means = means.append({
            "Month" : month,
            "Jurisdiction" : province,
            "MeanNum" : dataByMonth[(dataByMonth['Month'] == month) & (dataByMonth['Jurisdiction'] == province)]['Number'].mean(),
            "MeanArea" : dataByMonth[(dataByMonth['Month'] == month) & (dataByMonth['Jurisdiction'] == province)]['Area (hectares)'].mean()  
        }, ignore_index=True)
            
dataBySummerMonth = (
    dataByMonth.merge(
        means,
        how = "left",
        on = ["Month", "Jurisdiction"]
    ).assign(anomalyArea = lambda x: anomalyIndex(x["Area (hectares)"], x["MeanArea"]))
    .loc[lambda x: x['Jurisdiction'] != 'Prince Edward Island']
)

dataBySummerMonth

/opt/miniconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:364: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,Year,Jurisdiction,Month,Area (hectares),Number,ONI,Phase,DateTime,MeanNum,MeanArea,anomalyArea
0,1990,Alberta,May,624.200000,110,0.29,N,1990-05-01,293.300000,109081.340333,-5.163378
1,1990,Alberta,June,1704.300000,196,0.31,N,1990-06-01,246.300000,43903.095333,-3.248830
2,1990,Alberta,July,14934.400000,422,0.33,N,1990-07-01,262.400000,27698.735667,-0.617719
3,1990,Alberta,August,14245.800000,362,0.38,N,1990-08-01,179.200000,14241.275333,0.000318
4,1990,British Columbia,May,3443.900000,235,0.29,N,1990-05-01,173.933333,10548.055033,-1.119337
5,1990,British Columbia,June,79.900000,95,0.31,N,1990-06-01,213.466667,16654.678200,-5.339671
6,1990,British Columbia,July,25045.700000,775,0.33,N,1990-07-01,490.900000,97810.565200,-1.362330
7,1990,British Columbia,August,11674.300000,1563,0.38,N,1990-08-01,646.133333,39134.222800,-1.209608
8,1990,Manitoba,May,337.900000,71,0.29,N,1990-05-01,61.733333,11219.756667,-3.502681
9,1990,Manitoba,June,400.600000,85,0.31,N,1990-06-01,81.100000,113683.530000,-5.648210
10,1990,Manitoba,July,5377.400000,90,0.33,N,1990-07-01,96.833333,65655.533333,-2.502217
11,1990,Manitoba,August,4754.300000,176,0.38,N,1990-08-01,69.000000,21649.240000,-1.515921
12,1990,New Brunswick,May,88.100000,71,0.29,N,1990-05-01,101.366667,324.736667,-1.304542
13,1990,New Brunswick,June,6011.800000,100,0.31,N,1990-06-01,48.666667,407.566667,2.691275
14,1990,New Brunswick,July,25.700000,114,0.33,N,1990-07-01,39.266667,36.996667,-0.364337
...,...,...,...,...,...,...,...,...,...,...,...
1421,2019,Ontario,June,256939.300000,103,0.45,N,2019-06-01,214.433333,73529.246667,1.251157
1422,2019,Ontario,July,8539.000001,152,0.28,N,2019-07-01,273.733333,45599.263334,-1.675248
1423,2019,Ontario,August,154.600000,193,0.15,N,2019-08-01,282.800000,15268.003334,-4.592673
1428,2019,Quebec,May,27.600000,53,0.54,E,2019-05-01,172.466667,34188.716667,-7.121835
1429,2019,Quebec,June,5000.800000,58,0.45,N,2019-06-01,176.833333,159924.100000,-3.465101
1430,2019,Quebec,July,4549.000000,119,0.28,N,2019-07-01,126.866667,64893.493333,-2.657840
1431,2019,Quebec,August,24.500000,95,0.15,N,2019-08-01,114.700000,13285.800000,-6.295778
1432,2019,Saskatchewan,May,1096.300000,73,0.54,E,2019-05-01,132.000000,82480.800701,-4.320625
1433,2019,Saskatchewan,June,1822.100000,59,0.45,N,2019-06-01,139.500000,240441.731378,-4.882488
1434,2019,Saskatchewan,July,44928.400000,58,0.28,N,2019-07-01,123.466667,92916.683205,-0.726633
1435,2019,Saskatchewan,August,8.100000,13,0.15,N,2019-08-01,92.066667,61460.807619,-8.934291
1436,2019,Yukon,May,135237.210000,25,0.54,E,2019-05-01,17.133333,14600.006000,2.226008
1437,2019,Yukon,June,64179.900000,18,0.45,N,2019-06-01,46.266667,110718.753067,-0.545303
1438,2019,Yukon,July,56460.070000,63,0.28,N,2019-07-01,36.500000,52139.658067,0.079608
1439,2019,Yukon,August,34.000000,4,0.15,N,2019-08-01,15.900000,7316.592333,-5.371539

In [36]:
dataBySummerMonth.to_csv("../../data/processed/dataByMonth.csv")

In [44]:
min(dataBySummerMonth['anomalyArea'])

-inf

In [51]:
min(dataBySummerMonth[dataBySummerMonth['anomalyArea'] > -100]['anomalyArea'])

-14.381488332146754